.account-dropdown {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500 !important;
}

.account-menu-item {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400 !important;
}

.account-menu-item_selected {
  font-weight: 500 !important;
}
