<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="title" content="Tezos Payments Demo Shop [ASP.NET]">
    <meta name="description" content="A demo application of using the Tezos Payments service" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tezos Payments Demo Shop [ASP.NET]</title>

    <link rel="stylesheet" href="~/styles/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoShopAspNet.styles.css" asp-append-version="true" />
</head>

<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>