@use "../../../../styles/layout-variables.scss";

.analytics-header {
  display: flex;
  justify-content: space-between;
}

.analytics-header__title {
  margin: 0 0 var(--grid-layout-gutter) 0;
  height: layout-variables.$view-title-height;
}
