@use 'sass:map';
@use 'sass:color';
@use '../../styles/layout-variables.scss';
@use '../../styles/components.scss';
@use '../../styles/colors.scss';

.order-details__title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: layout-variables.$element-spacing-small;
}

.order-fields {
  margin-bottom: layout-variables.$element-spacing-small * 5;
}

.order-field__label {
  color: colors.$character-secondary;
  width: layout-variables.$element-spacing-medium * 4;
}

.order-field__copy-button {
  @include components.copy-button(order-field__copy-icon);
}

.order-field__copy-icon {
  @include components.copy-button-icon();
}
