@use '../../styles/layout-variables.scss';
@use '../../styles/colors.scss';

.total-sum {
  display: flex;
  margin-bottom: 100px;
}

.total-sum__value {
  margin: 0 (layout-variables.$element-spacing-small / 4) (layout-variables.$element-spacing-small / 4)
    layout-variables.$element-spacing-small;
  line-height: 1;
}

.total-sum__currency-icon {
  width: 32px;
  height: 32px;
  user-select: none;
}

.total-sum__currency {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.total-sum__currency-name {
  color: colors.$character-secondary;
}
