@use 'sass:math';
@use '../../../styles/layout-variables.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/mixins.scss';

$-input-font-size: 24px;
$-icon-size: 26px;

.donation-amount {
  display: grid;
  min-width: 256px;
  grid-template-rows: 48px;
  grid-template-columns: [input-start currency-icon-start] auto [currency-icon-end] 1fr [input-end currency-start] auto [input-end currency-end];
  align-items: center;
  justify-items: center;
  margin-bottom: 100px;

  @include mixins.compact-view() {
    margin-bottom: layout-variables.$element-spacing-medium;
  }
}

.donation-amount__input {
  grid-area: 1 / input-start / 1 / input-end;
  width: 100%;
  height: 100%;
  font-size: $-input-font-size;
  padding-left: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .ant-input-number-input-wrap,
  .ant-input-number-input {
    height: 100%;
  }
}

.donation-amount__currency-icon {
  grid-area: 1 / currency-icon-start / 1 / currency-icon-end;
  width: 32px;
  height: 32px;
  margin: 0 math.div(layout-variables.$element-spacing-small, 2);
  user-select: none;
  z-index: 1;
}

.donation-amount__container {
  grid-area: 1 / currency-start / 1 / currency-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100%;
  padding: 0 math.div(layout-variables.$element-spacing-small, 2);
  font-size: 14px;
  line-height: 1.1;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: transparent;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: colors.$character-primary !important;
  background-color: #fafafa;
}

.donation-amount__currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.donation-amount__currency-name {
  color: colors.$character-secondary;
}

.donation-amount-menu-item {
  display: flex;
  align-items: center;
}

.donation-amount-menu-item__icon {
  height: $-icon-size;
  width: $-icon-size;
  margin-right: 8px;
}

.donation-amount-menu-item__ticker {
  font-weight: 500;
  margin-right: 4px;
}
