@use "../../../styles/layout-variables.scss";

.view {
    margin: 0 auto;
    padding: layout-variables.$element-spacing-small var(--grid-layout-gutter);
}

.view__title {
    margin: 0 0 var(--grid-layout-gutter) 0;
}
