@use "../../../styles/layout-variables.scss";

.view {
    margin: 0 auto;
    padding: layout-variables.$element-spacing-small var(--element-spacing);
}

.view__title {
    margin: 0 0 var(--element-spacing) 0;
}
