.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--grid-layout-gutter);
}

.cards-container__small-card {
  grid-column-start: span 2;

  .ant-card-head {
    border-bottom-width: 0;
  }
}

.cards-container__large-card {
  grid-column-start: span 3;
  min-width: 0;
}

@media (max-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .cards-container__small-card,
  .cards-container__large-card {
    grid-column-start: unset;
  }
}
