@use '../../../styles/layout-variables.scss';

.small-cards-container,
.large-cards-container {
  display: grid;
  grid-gap: layout-variables.$element-spacing-medium;
}

.small-cards-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.large-cards-container {
  grid-template-columns: 1fr 1fr;
  margin-top: layout-variables.$element-spacing-medium;
}

@media (max-width: 1000px) {
  .small-cards-container,
  .large-cards-container {
    grid-template-columns: 1fr;
  }
}

.chart-card {
  min-width: 0;
}
