@use '../../../styles/layout-variables.scss';

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: layout-variables.$element-spacing-medium;
}

.cards-container__small-card {
  grid-column-start: span 2;
}

.cards-container__large-card {
  grid-column-start: span 3;
  min-width: 0;
}

@media (max-width: 1000px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .cards-container__small-card,
  .cards-container__large-card {
    grid-column-start: unset;
  }
}
