{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "quote-props": [
      "warn",
      "consistent-as-needed"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "semi": "warn",
    "import/no-anonymous-default-export": "off",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          [
            "internal",
            "parent",
            "sibling"
          ],
          "index",
          "object"
        ],
        "pathGroups": [
          {
            "pattern": "@tezospayments/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "src/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  }
}
