@use 'sass:map';
@use '../styles/layout-variables.scss';
@use '../styles/components.scss';
@use '../styles/colors.scss';

$-icon-size: 80px;

.service-info {
  display: grid;
  grid:
    "icon name" auto
    "icon contract" auto
    "description description" auto
    "links links" / ($-icon-size + layout-variables.$element-spacing-small / 2) 1fr;
}

.service-name {
  grid-area: name;
  margin: 0 0 (layout-variables.$element-spacing-small / 4) 0;
}

.service-icon {
  grid-area: icon;
  width: $-icon-size;
  height: $-icon-size;
  user-select: none;
}

.service-contract {
  grid-area: contract;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--grid-layout-margin);
}

.service-contract__label {
  color: colors.$character-secondary;
}

.service-contract__copy-button {
  @include components.copy-button(service-contract__copy-icon);
}

.service-contract__copy-icon {
  @include components.copy-button-icon();
}

.service-contract__value:hover {
  color: colors.$blue-5;
  cursor: pointer;
}

.service-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
}

.service-link {
  margin-bottom: layout-variables.$element-spacing-small;
}
