@page
@model DemoShopAspNet.Pages.IndexModel

<main class="main">
    <h1 class="title">
        This is a demo shop of <a href="@Model.AppConfiguration.MainSiteUrl" target="_blank" rel="noopener noreferrer">Tezos Payments</a>
    </h1>
</main>