.main {
    min-height: 100%;
    width: 100%;
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 16px 0 32px;
}

.products {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1100px) {
    .products {
        flex-direction: column;
    }
}

.product {
    margin: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__product-info {
    margin-bottom: 16px;
    font-size: 1.2em;
}

.product__price {
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 2px;
}

.product__image-container {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 16px;
}

    .product__image-container img {
        width: 300px;
        height: 300px;
    }

.product__buy-button {
    width: 160px;
}

.button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: inherit;
    line-height: 1.5;
    padding: 8px 16px;
}

.button_primary {
    background-color: #3571e9;
    border: 1px solid #3571e9;
    color: #fdfdfe;
}

.button_secondary {
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.button_primary:hover {
    color: #fdfdfe;
    background: #1e61e6;
    border-color: #1e61e6;
}

.button_primary:disabled {
    cursor: initial;
    background-color: #3571e9;
    border: 1px solid #3571e9;
    color: #fdfdfe;
    opacity: 0.48;
}