@use './layout-variables.scss';
@use './colors.scss';

@mixin copy-button($icon-class-name) {
  margin: 0 layout-variables.$element-spacing-small / 2;
  padding: 0;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;

    .#{$icon-class-name} {
      color: colors.$blue-5;
    }
  }

  &:active {
    .#{$icon-class-name} {
      color: colors.$blue-8;
    }
  }
}

@mixin copy-button-icon($size: 18px) {
  font-size: $size;
  transition: transform 0.1s ease-in-out;
  will-change: transform;
}
