@use "../../../styles/layout-variables.scss";

.chart-container {
  padding: layout-variables.$element-spacing-small * 2;
  border: 1px #e5e5e5 solid;
  border-radius: layout-variables.$border-radius-large;
}
